## Basic Python, Data Structure,Function & Problems

### Basic Python

In [ ]:
## Practice 1: Calculator
num1= float(input("Enter first number:"))
num2= float(input("Enter second number:"))
sum =num1 + num2 
diff =num1 - num2 
product =num1*num2
divide =num1/num2 

print("sum:",sum)
print("difference:",diff)
print("product:",product)
print("divide:",divide)

In [ ]:
# Practice 2: check leap year using nested conditional statement

year = int(input("Enter the year"))

if (year%4 == 0):
    if((year % 100 != 0) & (year% 400== 0 )):
        print(year, "is a leap year.")
    else:
        print(year,"is not a leap year.")
        
'''year = int(input("Enter the year"))

if (year%4 == 0):
    if(year % 100 == 0): 
       if(year% 400 == 0 ):
            print(year, "is a leap year.")
       else:
            print(year,"is not a leap year.")
    else:
       print(year, "is a leap year.") 
else:
    print(year,"is not a leap year.") '''

In [ ]:
# Practice 3: simple calculator program using if-else statement
n1 = float(input("Enter number 1:"))
n2 = float(input("Enter number 2:"))
opr = str(input("Enter one of these operation (+,-,*,/):"))

if (opr == '+'):
    sum = n1+n2
    print("Sum of number 1 & number 2 is:", sum)
elif (opr == '-'):
    diff = n1-n2
    print("Difference of number 1 & number 2 is:", diff)
elif (opr == '*'):
    multiply = n1*n2
    print("Multiplication of number 1 & number 2 is:", multiply)
elif (opr == '/'):
    if n2 != 0 : 
        div = n1/n2
        print("Division of number 1 & number 2 is:", div)
    else:
        print("Error division by 0")
else:
    print("Error!!")

In [ ]:
# Practice 4: determine price by student age

age = int(input("Enter your age:"))
is_student = str(input("Are you a student (y/n):")).lower()

if (is_student == 'n'):
    print ("Price is ₹500.")
elif ( is_student =='y' ) :
    if (age <= 15):
        print("Price is ₹20.")
    elif (age >= 16 & age <=25):
        print("Price is ₹50.")
    elif (age >= 26 &  age <= 30):
        print("Price is ₹100.")
else: 
    print("Price is ₹250.")

In [ ]:
for i in range(3):
	 for j in range(2):
            print(f"i:{i} and j:{j}")

In [ ]:
# Practice 4: sum of  n natural no. using while loop
n =10
s = 0
count = 1

while (count<=n) :
    s = s + count
    count = count+1

print("sum:",s  )

In [ ]:
sum =0
for i in range(11):
    sum = sum +i
print(sum)

In [ ]:
# Practice 5: Prime number between 1 to 100

for num in range(1,11):
    if (num > 1):
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(i)

### Data Structure

In [ ]:
# slicing list:
num =[1,2,3,4,5,6,7,8,9,10]
print(num[2:5])
# 2 to 5  wrong
print(num[:5])
#1to5
print(num[5:])
#6 to 10 invalid syntax
print(num[: :-2])
#1,2 wrong it print offset 
print(num[-2::-3])
for i,n in enumerate(num):
    print(n-1)

In [ ]:
# List Comprehension
sqr = [x**2 for x in range(10)]
print(sqr)

In [ ]:
# list comprehension with logic condition
sqr_evn = [x**2 for x in range(10) if x %2==0]
print(sqr_evn)

In [ ]:
# nested list comprehension
nl = [x**2 for x in range (0,5) for y in range(2)]
print(nl)

In [ ]:
s1 = {1,2,3,4,5}
s2 = {2,3,5}
s3 = {3,4,5}

s2.issuperset(s1)

In [ ]:
# Iterating over nested {}
std = {'a':{"name":"ark",'age':10},
       "b":{'name':"car", 'age': 10 }
       }

for std, std_info in std.items():
    print(f"{std}:{std_info}")
    for k,v in std_info.items():
        print(f"{k}:{v}")

In [ ]:
# dict comprehension 
# sq ={}
# for x in range(5):
#     sq[x]=x**2
# print(sq)
comp_sq = {x:x**2 for x in range(5)}
print

In [ ]:
# Practice 6: use dict to count freq of elements in a list

num = [1,2,2,2,2,3,3,3,3,3,5,5,5,5,5,5,4,4,4]
a = 0
freq_dict = {}
for x in num:
    if x in freq_dict:
        freq_dict[x]+= 1
    else: 
        freq_dict[x]=1
print(freq_dict)

### Function Basic

In [1]:
#Practice 1:
def convert_temp(temp,unit):
    """this function to convert the temperature between celsius and fahrenheit"""
    unit.lower()
    if unit == 'f':
        return (temp-32)*5/9
    elif unit == 'c':
        return (temp *9/5 + 32)
    else: 
        print('Invalid unit')

In [2]:
convert_temp(1,'c')

33.8

In [3]:
# Practice 2:
def is_strong_password(password):
    if len(password) < 8:
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if  not any(char.isdigit() for char in password):
        return False
    if not any(char in "!@#$%^&*()_+" for char in password):
        return False
    return True

In [4]:
is_strong_password("123Ark!@#")

True

In [ ]:
# Practice 3: Recursion
def factorial(num):
    if num ==1:
        return 1
    else: 
        return num*(factorial(num-1))

In [6]:
factorial(4)

24

In [7]:
import re

# Email validation function
def is_valid_email(email):
    """This function checks if the email is valid."""
    pattern = r"^[a-zA-Z0-9 _.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9 -.]+$"
    return re.match(pattern, email) is not None

# Calling the function
print(is_valid_email("test@example.com"))
print(is_valid_email("invalid-email")) # Output: False

# Output: True

True
False

In [8]:
list_num = [1,2,3,4,5]
variable = list(map(lambda x:x*2,list_num))
print(variable)

[2, 4, 6, 8, 10]

### Problems (1-53)

In [ ]:
# Problem 1: square
def sq_pattern(n):
    sq = '*'*n
    lst = [sq]
    count = 1
    while count<n:
        lst.append(sq)
        count =count +1
    print(lst)

In [27]:
x = sq_pattern(3)

['***', '***', '***']

In [ ]:
# Problem 2: Hollow Square
def hollow_square(n):
    
    if n==1:
        return ['*']
    elif n==2:
        return ['**','**']
    else:
        lst = []
        lst.append('*'*n)
        c = n-1
        count = 1
        while count < (c):
            lst.append('*'+' '*(c-1)+'*')
            count = count +1
    lst.append('*'*n)
    return lst

In [9]:
hollow_square(7)

['*******', '*     *', '*     *', '*     *', '*     *', '*     *', '*******']

In [ ]:
#Problem 3: Rectangle
def rectangle(n ,m): # n = rows, m =column
    if (n >= 1) and (m<=100):
        lst = []
        lst.append('*'*m)
        count = 1
        while count<n:
            lst.append('*'*m)
            count =count +1
    else:
        return "Invalid rows or column number."
    return lst

In [24]:
rectangle(2,2)

['**', '**']

In [ ]:
#Problem4: Right-Angle Triangle
def right_trianlge(n):
    lst = []
    for i in range(1,n+1):
        lst.append('*'*i)
    return lst

In [6]:
right_trianlge(5)

['*', '**', '***', '****', '*****']

In [ ]:
# Problem 5: Inverted right angle triangle
def inv_right_trianlge(n):
    lst = []
    for i in range(n,0,-1):
        lst.append('*'*i)
    return lst

In [8]:
inv_right_trianlge(5)

['******', '*****', '****', '***', '**', '*']

In [ ]:
# Problem6: Pyramid
def pyramid(n):
    lst = []
    if n>=1 and n<=100:
        for i in range(1,n+1):
            lst.append(' '*(n-i) + '*'*(2*i-1) + ' '*(n-i))
        return lst
    else:
         return "Invalid input"

In [12]:
pyramid(5)

['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [34]:
# Problem 7: Inverted Pyramid
def inv_pyramid(n):
    lst = []
    if n>=1 and n<=100:
        for i in range(n,0,-1):
            lst.append(' '*(n-i) + '*'*(2*i-1) + ' '*(n-i))
        return lst
    else:
         return "Invalid input"

In [35]:
inv_pyramid(5)

['*********', ' ******* ', '  *****  ', '   ***   ', '    *    ']

In [16]:
# Problem 8: Number Right Angle Triangle
def num_right_triangle(n):
    lst = []
    for i in range(1,n+1):
        lst.append(f"{i}"*i)
    return lst

In [17]:
num_right_triangle(5)

['1', '22', '333', '4444', '55555']

In [1]:
# Problem 9: First n rows of Floyds Triangle
def floyd_triangle(n):
    lst = []
    num = 1
    for i in range(n): 
        x = []
        for j in range(i + 1):
            x.append(str(num))
            num += 1
        lst.append(" ".join(x))
    return lst

In [3]:
floyd_triangle(5)

['1', '2 3', '4 5 6', '7 8 9 10', '11 12 13 14 15']

In [52]:
# Problem 10: Diamond pattern
def diamond_pattern(n):
    lst =[]
    if n>=1 and n<=100:
        [(lst.append(" "*(n-i) + "*"*(2*i-1) + " "*(n-i))) for i in range(1,n+1)]
        lst.remove("*"*(2*n-1))
        [(lst.append(" "*(n-i) + "*"*(2*i-1) + " "*(n-i))) for i in range(n,0,-1)]
        return lst
    else:
        return "Invalid Input"

In [53]:
diamond_pattern(5)

['    *    ',
 '   ***   ',
 '  *****  ',
 ' ******* ',
 '*********',
 ' ******* ',
 '  *****  ',
 '   ***   ',
 '    *    ']

In [ ]:
# Problem 11: r align right angle triangle
def right_tri_2(n):
    lst = []
    if n>=1 and n<=100:
        [lst.append(' '*(n-i) + '*'*i) for i in range (1,n+1)]
        return lst
    else:
        return "Invalid Input"

In [56]:
right_tri_2(4)

['   *', '  ***', ' *****', '*******']

In [ ]:
# Problem 12: Sandglass pattern
def sandglass(n):
    lst =[] 
    if n>=1 and n<=100:
        [(lst.append(" "*(n-i) + "*"*(2*i-1) + " "*(n-i))) for i in range(n,0,-1)]
        lst.pop()
        [(lst.append(" "*(n-i) + "*"*(2*i-1) + " "*(n-i))) for i in range(1,n+1)]
        return lst
    else:
        return 'Invalid Input'

In [60]:
sandglass(5)

['*********',
 ' ******* ',
 '  *****  ',
 '   ***   ',
 '    *    ',
 '   ***   ',
 '  *****  ',
 ' ******* ',
 '*********']

In [ ]:
# Problem 13: Hollow rt triangle
def hollow_rt(n):
    lst = []
    if n == 1:
        return ['*']
    elif n>=2 and n<=100:
        lst = ['*'] 
        for i in range(n-1):
                lst.append('*'*1 + ' '*i + '*'*1)
        lst.pop()
        lst.append('*'*n)
        return lst
    else:
        return 'Invalid'

In [128]:
hollow_rt(5)

['*', '**', '* *', '*  *', '*****']

In [164]:
# Problem 14; Hollow inverted rt triangle
def hollow_irt(n):
    lst = []
    if n == 1:
        return ['*']
    elif n>=2 and n<=100:
        lst.append('*'*n)
        for i in range(n-1,1,-1):
                lst.append('*'*1 + ' '*(i-2)+ '*'*1)
        lst.append('*')
        return lst
    else:
        return 'Invalid'

In [166]:
hollow_irt(4)

['****', '* *', '**', '*']

In [4]:
# Problem 15: Num pyramid
def num_pyramid(n):
    lst = []
    if n>=1 and n <=100:
        for i in range(1,n+1):
            row = []
            for j in range(1,i+1):
                row.append(str(j))
                
            lst.append(' '*(n-i) + ''.join(row) + ' '*(n-i))
        return lst
    else:
        return 'Invalid'

In [5]:
num_pyramid(5)

['    1    ', '   12   ', '  123  ', ' 1234 ', '12345']

In [ ]:
def num_pyramid(n):
    lst = []
    if n>=1 and n <=100:
        for i in range(1,n+1):
            x = [str(j) for j in range(1,i+1)] # list of element in mid column
            x= ' '.join(x) # adding space between each element of the single string
            lst.append(' '*(n-i) +''.join(x)  + ' '*(n-i) )
        return lst
    else:
        return 'Invalid'

In [213]:
num_pyramid(3)

['  1  ', ' 1 2 ', '1 2 3']

In [ ]:
# Problem 21: Sum of elements of a list
def sum_list(n):
    s = 0
    for i in n:
        s = s + i
    return s

In [7]:
sum_list([1,2,2,4])

[1, 2, 2, 4]

In [27]:
# Problem 22: Largest element
def largest(numbers):
    l = numbers[0]
    for i in numbers:
        if i > l:
            
            l = i
        else:
            continue
    return l

In [29]:
largest([-2,-4])

-2

In [ ]:
# Problem 23: Remove duplicate
def rd(lst):
    ulst = []
    for i in lst:
        if i not in ulst:
            ulst.append(i)
    return ulst

In [78]:
rd([1,2,3,4])

True

In [ ]:
# Problem 24: Unique list
def rd(lst):
    ulst = []
    for i in lst:
        if i not in ulst:
            ulst.append(i)
    if ulst == lst:
        return True
    else:
        return False

In [95]:
#  Problem 25: Reverse list without slicing
def reverse_list(lst):
    reverse_lst = []
    for i in range(len(lst)-1,-1,-1):
        reverse_lst.append(lst[i])
    return reverse_lst

In [96]:
reverse_list([1,2,3,4,5,6,6,7])

[7, 6, 6, 5, 4, 3, 2, 1]

In [ ]:
# Problem 26: even odd count
def even_odd_count(lst):
    even = 0
    odd = 0
    for i in lst:
        if i%2 == 0:
            even += 1
        else:
            odd +=1
    return (even,odd)

In [99]:
even_odd_count([1,2,3,4,5,6,8,7,10])

(5, 4)

In [ ]:
# Problem 27: Mac difference between two consecutive number
def mcd(lst):
    if lst == []:
        return "Empty list"
    else:
        d = abs(lst[0]-lst[1])
        for i in range(1,len(lst)): 
            d1 = abs(lst[i]-lst[i-1])
            if d1 > d:
                d = d1
            else:
                continue
    return d

In [120]:
mcd([1, 7, 3, 10,5])

7

In [135]:
# Problem 28: Sorted Merge list
def sort_merge(list1, list2):
    merge = list1 + list2
    merge.sort()
    return merge

In [136]:

print(sort_merge([1, 3, 5],[2, 4, 6]))

[1, 2, 3, 4, 5, 6]

In [144]:
# Problem 29:
def rotate_list(lst,k):
    if not lst:
        return []
    k = k % len(lst)
    for _ in range(k):
        lst_el = lst.pop()
        lst.insert(0,lst_el)
    return lst

In [152]:
rotate_list([1, 3, 5,6],1
            )

[6, 1, 3, 5]

In [172]:
# Problem 30: merge list to dict
def mld(keys,values):
    if len(keys) != len(values):
        return "Invalid inputs."
    else:
        dictionary = {}
        for i in range(len(keys)):
            dictionary[keys[i]] = values[i]
        return dictionary

In [173]:
print(mld([1, 3, 5,6],[1, 3, 5,6]))

{1: 1, 3: 3, 5: 5, 6: 6}

In [180]:
# Problem 32: Count word frequency as list
def cwf(sentence):
    dct = {}
    for i in sentence.split():
        count = 0
        for j in sentence.split():
            if i == j:
                count +=1
            dct[i] = count
    return dct

In [181]:
x = cwf("the quick brown fox jumps over the lazy dog")
print(x)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [188]:
# Problem 33: Palindromic tuple
def pt(tup):
    if tup == ():
        return True
    else:
        for i in range(len(tup)):
            if tup[i] == tup[-(i+1)]:
                continue
            else: 
                return False
        return True

In [189]:
pt(('x', 'y', 'z', 'x'))

False

In [ ]:
# Problem 34: merge dict with overlapping keys
def mod(dicts):
    if dicts == []:
        return False
    else:
        merge = {}
        for i in dicts:
            
            for k,v in i.items():
                if k in merge:
                    merge[k] += v
                else:
                    merge[k] = v
        return merge

In [ ]:
# Problem 35: Lst 1 subset of lst2
def is_subset(lst1,lst2):
    if lst1 == lst2:
        return True
    elif (lst1 ==[]) or (lst2 == []):
        return True
    else:
        for i in lst1:
            if i not in lst2:
                return False
            else:
                if i in lst2:
                    continue
        return True

In [8]:
is_subset(lst1 = [1, 6], lst2 = [1, 2, 3, 4, 5])

False

In [ ]:
# Problem 36: Sum of first even numbers
def sen(n):
    if n>=1 and n<= 10**4:
        sum = 0
        for i in range (n*2 +1):
            if i%2 == 0:
                sum += i    
        return sum   
    else:
        return False

In [29]:
sen(2)

6

In [60]:
#Problem 38: Check prime
def is_prime(n):
    if n<=1:
        return False
    elif n>=1 and n<=10**6:
        for i in range(2,int(n**0.5)+1):
            if n%i == 0:
                return False
        return True

In [61]:
is_prime(5)

True

In [ ]:
# Problem 39: Valid Square
def is_perfect_square(n):
    if n>=1 and n<=10**9:
        if n%(n**0.5)==0:
            return True
        else:
            return False

In [93]:
# Problem 40: decimal to binary
def decimal_2_binary(n):
    if not (n>= -10**9 and n <=10**9):
        return False
    if n == 0:
        return ["0"]
    is_negative = False
    if n <0:
        is_negative = True
        n = abs(n)
    lst = []  
    while n>0:
        lst.append(str(n%2))
        n//=2
    binary = ''.join(lst[::-1])
    if is_negative==True:
        return '-' + binary
    else:
        return binary

In [95]:
decimal_2_binary(-2)

'-10'

In [120]:
def binary_2_decimal(n):
    binary = 0
    num = []
    for i in n:
        num.append(int(i))
    l = len(num)
    for i in range(0,l):
        b=num[i]*(2**((l-1)-i))
        binary +=b
    return binary

In [121]:
binary_2_decimal('101')

5

In [135]:
# Problem 42: GCD
def gcd(n,m):
    if n>m:    
        while n%m!=0:
            r = n%m
            n=m
            m=r
        return m
    else:
        while m%n!=0:
            r = m%n
            m=n
            n=r
        return n

In [136]:
gcd(48,18)

6

In [160]:
# Problem 43: Reverse string
def reverse_string(s):
    if len(s) >=1 and len(s) <=1000:    
        rs = ''
        for i in s[::-1]:
            rs = rs+i
        return rs

In [161]:
(reverse_string('hello'))

'olleh'

In [ ]:
#Problem 44: Vowel Count
def vowel_count(s):
    if len(s) >=1 and len(s) <=1000:
        count = 0
        for  i in s:
            if i in 'aeiou':
                count+=1
            return count
    else:
        return None

In [168]:
vowel_count('hll')

In [172]:
if 'hello' == 'hllo':
    print(True)
else:
    print(False)

False

In [199]:
# Problem 46: String palindrome
def ip(s):
    s = ''.join(s.split()).lower()
    rs = ''.join(s[::-1])
    for i in range(len(s)):
        if s[i] != rs[i]:
            return False
        else:
            continue
    return True

In [209]:
# Problem 47: Count words
def count_words(s):
    s = s.split()
    count = 0
    for i in s:
        if i in '!@#$&*(){-_.,?':
          continue
        else:
          count +=1
    return count

In [213]:
#Problem 48: Remove duplicate char
def dc(s):
    us = ''
    for i in s:
        if i not in us:
            us+=i
    return us

In [221]:
conso_count('helloworld!')

1

In [ ]:
# Problem 49: Count consonants
def conso_count(s):
    conso = 'bcdfghjklmnpqrstvwxyz'
    count = 0
    for i in s.lower():
        if i in conso:
            count+=1
        else:
            continue
    return count

In [ ]:
#Problem 50: Anagram
def is_anagram(s,t):
    for i in s:
        if i in t:
            continue
        else:
            return False
    return True

In [257]:
is_subsequence('rat','ra')

In [ ]:
#Problem 51: subsequence
def is_subsequence(s,t):
    i =0
    j=0
    while i<len(s) and j<len(t):
        if s[i] == t[j]:
            j+=1
        i+=1
    return j == len(t)

In [ ]:
#Problem 52: substring
def is_substring(s,t):
    if s == t:
        return True
    elif s=='' or t=='':
        return True
    else:
        for i in t.split():
            if i not in s.split():
                return False
            else:
                continue
        return True

In [262]:
# Problem 53: Length of longest string
def longest_word(s):
    word_len = {}
    for i in s.split():
        word_len[i] = len(i)
    value = 0
    for values in word_len.values():
        if values > value:
            value = values
    return value

In [263]:
longest_word("The quick brown fox jumps over the lazy dog")

5